/* Reset some default styles */
body, h1, h2, h3, ul, li {
  margin: 0;
}

/* Basic styling for layout */
body {
  font-family: Arial, sans-serif;
  background-color: #afb2b1;
}

header {
  background-color: #36784d;
  color: #afb2b1;
  text-align: center;
  padding: 1rem;
}

/* Center-align the h1 element */
header h1 {
  margin: 0;
}


/*navigation*/ 

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

nav ul li {
  margin: 0 1rem;
}

nav {
    text-align: center;
    background-color:#36784d;    
    margin-top: 0px;
    padding-top: 0cm;
    margin-bottom: 1cm;
    margin-left: -3%;
    font-size: 18px;
    font-family: 'Raleway', sans-serif; 
 
  display: flex;
  justify-content: center;
  align-items: center;
}


li a {
    color: #afb2b1;
    text-align: center;
    font-size: 20px;
    padding: 30px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    justify-content: space-evenly;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1rem;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
}

li a:hover:not(.active) {
    background-color:#afb2b1;
  color: #36784d;
  font-family: 'Raleway', sans-serif;
  }

  a:hover:not(.active) {
    background-color:#afb2b1;
  color: #36784d;
  font-family: 'Raleway', sans-serif;
  }

/* Styling for product cards */
.product-card {
  background-color: rgb(234, 234, 234);
 border-radius: 15px;
  padding: 1rem;
  margin: 1rem;
}

.product-card img {
  max-width: 100%;
  border-radius: 15px;
}

.discount {
  color: #ff8000;
}

.out-of-stock .soldout {
  color: #888;
}

/*grid layout for produktliste*/
main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Creates three equal-width columns */
  gap: 20px; /* Gap between grid items */
  padding:1rem;
}

.product-card {
  border: 1px solid #ccc;
  padding: 20px;
}

/* styling for produkt-link button*/
.product-link {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  background-color: #7da46f;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.product-link:hover {
  background-color: #0056b3;
}



/* Styling for category list */
.category-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  color: #36784d;
}

.category-list li {
  margin: 1rem 0;
}

/*styling for produktside*/

.product1 {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
main {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  nav ul {
    flex-direction: column;
    text-align: center;
  }

  nav ul li {
    margin: 0.5rem 0;
  }
}


/* Add more styles as needed */
